<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> headers}}
        <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
    </body>
</html>